/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #616971;
}

/*============= TOP BAR HEADER =============*/

.top-bar{
  background:#7aaec4;
  height: 2.8rem;
  padding:.5rem 0;
}
.top-bar a{
  color:white ;
  text-decoration: none;
  font-size: 1.1rem ;
}
/*============= NAVIGATION =============*/
.navbar-brand img {
  height: 3rem;
}
.navbar{
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
  z-index: 1;
}
.nav-item{
  padding: .5rem ;
}
.nav-link{
  color: #5b5555!important;
}
.nav-link.active,
.nav-link:hover{
  color: #4981b3!important;
}
.dropdown-item{
  display: block;
}
.dropdown{
  display: none;
}
.nav-item:hover .dropdown{
  display: block;
}
.icon{
  font-size: 30px;
}
.text{
  color: #383838!important;
  text-decoration: none;
}
.text.active,
.text:hover{
  color: #4981b3!important;
  text-decoration: none;
}
.list{
  list-style: none;
}

/*============= FIVE COLUMN SECTION =============*/
.btn-primary{
  background-color:  #9dcc50cc;
  border: .05rem solid  #9dcc50cc;
}
.btn-primary:hover,
.btn-primary:focus{
  background-color: #68a0d2!important;
  border: .05rem solid #68a0d2!important;
}
.btn-danger{
  background-color: #49b5c4;
  border: .05rem solid #49b5c4;
}
.btn-danger:hover,
.btn-danger:focus{
  background-color: #68a0d2!important;
  border: .05rem solid #68a0d2!important;
}

.fw-bold {
  font-weight: 700!important;
}
.text-primary {
  color: #87b936cc!important;
}
.bg-primary {
  background-color: #87b936cc!important;
}

/*-- MODAL --*/
.title {
  color: grey;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #49b5c4;
}

/*============= FOOTER =============*/

footer{
  background-color: #383838;
  padding: 1rem 2rem 3rem;
}
footer img{
  height: 3.5rem;
  margin: 1.5rem auto;
}
footer p, footer a,
.socket a {
  color: white;
  text-decoration: none;
}
ul.social{
  list-style: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}
ul.social li{
  margin: 0 auto;
}
footer .svg-inline--fa{
  font-size: 2.3rem;
}
footer .svg-inline--fa:hover{
  color: #68a0d2;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #68a0d2;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-link:hover {
  background-color: #b1d5f5;
}

/*============= SOCKET =============*/
.socket{
  background-color: #222222;
  border-top: .1rem solid #4981b3;
}


/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}



